@model List<ContatoModel>
@{
    ViewData["Title"] = "Listagem de contatos";
}
<!--
    Para listar corretamente os contatos, devemos declarar uma variavel do tipo model
    Juntamente com uma variavel Model, que está vindo do controller
-->

<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Create">Adicionar um novo contato</a>
    </div>
    <h1 class="display-4">Listagem de contatos</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Celular</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(ContatoModel contato in Model)
            {
                <tr>
                    <th scope="row">@contato.Id</th>
                    <td>@contato.Nome</td>
                    <td>@contato.Email</td>
                    <td>@contato.Celular</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a role="button" class="btn btn-primary" asp-controller="Contato" asp-action="Edit">Editar</a>
                            <a role="button" class="btn btn-danger" asp-controller="Contato" asp-action="Delete" asp-route-id=@contato.Id>Apagar</a>
                        </div>
                    </td>
                </tr>
            }
            
            
        </tbody>
    </table>
</div>
